<form action="{{action}}" method="POST">
  <div class="title-wrapper">
    <h2>{{title}}</h2>
    <span class="subtitle">{{subtitle}}</span>
  </div>
  <label for="{{inputId}}">{{inputLabel}}</label>
  <input type="text" placeholder="{{inputPlaceholder}}" id="{{inputId}}" name="{{inputName}}" />
  <button type="submit">{{submitText}}</button>
</form>
